@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    margin-right: 0 auto 0 50px;
}

.logo {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}

.carousel .list .item {
    position: absolute;
    inset: 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 70%;
    width: 1250px;
    max-width: 80%;
    left: 40%;
    transform: translateX(-50%);
    padding-right: 0;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 15px 10px #0004;
}

.carousel .list .item .content .title {
    font-weight: bold;
    letter-spacing: 5px;
}

.carousel .list .item .content .information {
    font-weight: bold;
    font-size: 1em;
    list-style: none;
}

.arrows {
    position: absolute;
    top: 80%;
    right: -15%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #fff;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    font-weight: bold;
    font-size: large;
    transition: .5s;
}

.arrows button:hover {
    background-color: black;
    color: #fff;
}

.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .information,
.carousel .list .item:nth-child(1) .content,
.carousel .list .item:nth-child(1) .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: ShowContent 0.5s linear 1 forwards;
}

@keyframes ShowContent {
    from {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item:nth-child(1) .title {
    animation-delay: 1.3s;
}

.carousel .list .item:nth-child(1) .information {
    animation-delay: 1.6s;
}

.carousel .list .item:nth-child(1) .buttons {
    animation-delay: 1.8s;
}

.carousel .list .item img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: ShowImage 0.5s linear 1 forwards;
}

@keyframes ShowImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}
.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: OutImage 0.5s linear 1 forwards;
}
.carousel .list .item:nth-child(2) .title,
.carousel .list .item:nth-child(2) .information,
.carousel .list .item:nth-child(2) .content,
.carousel .list .item:nth-child(2) .buttons{
    animation: ContentOut 1.5s linear 1 forwards;
}
@keyframes ContentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.time{
    width: 0;
    height: 5px;
    background-color: blue;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
.carousel.next, time,
.carousel.prev, time{
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}
@keyframes timeRunning{
    to{
        width: 0;
    }
}
@media screen and (max-width: 678px){
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}
